
//these go first...
$experimental-support-for-khtml : false !default;
$experimental-support-for-opera : false !default;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import "compass/css3";


$medium_blue:         #20498d;
$light_blue:          #769fda;
$light_medium_blue:   #235088;
$highlight_blue:      #00b1ef;
$plink_blue:          #89a9cc;
$people_driven_blue:  #1c3d66;
$people_blue:         #2ba8e7;
$orange:              #f38018;
$body_bgcolor:        #626161;

$top_nav_height: 60px;

$body_font:      'ProximaNovaA-Regular', sans-serif;
$bold_body_font: 'ProximaNovaA-Bold', sans-serif;
$header_font:    'Open Sans', sans-serif;
$dosis_font:     'Dosis', sans-serif;






