@media (min-width: 1025px) {
	.section, .small-stars {
		min-height: 750px;
	}
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 1024px) {
	.section1-constelation img {
		max-width: 40%;
	}
	.section-background {
		height: auto;
		width: 100%;
	}
	.contact-page .top {
		padding: 20px 0 20px;
	}
	.contact-circle {
		top: 160px;
	}
	.section2-main {
		margin-top: 20px;
	}
	.contact-circle {
		top: 80px;
	}
}

@media (max-width: 768px) {
	body {
		padding: 0;
		padding-top: 50px;
	}
	.container {
		padding: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		position: fixed;
		margin-top: 0;
	}
	.navbar-fixed-top .navbar-inner {
		padding: 0 10px;
		margin: 0;
	}
	.section1-constelation img {
		max-width: 100%;
	}
	.section-background {
		height: 100%;
	}
	.section-nav {
		display: none;
	}
	.section2-main {
		margin-top: 100px;
	}
}

/* SMALL TABLET */
@media (max-width: 610px) {
	html, body {
		margin: 0;
		padding: 0;
	}
	.nova {
		margin-top: 50px;
	}
	.container {
		padding: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		position: fixed;
		margin-top: 0;
	}
	.navbar-fixed-top .navbar-inner {
		padding: 0 10px;
		margin: 0;
	}
	.navbar-inner .container {
		padding: 0 10px;
		margin: 0;
	}
	.section1-constelation img {
		max-width: 90%;
	}
	.section1-footer h2 {
		font-size: 24px;
		line-height: 26px;
	}
	.section1-footer p {
		font-size: 16px;
	}
	.section-nav {
		display: none;
	}
	.section2-main {
		margin-top: 20px;
	}
	.section2-main h1 {
		font-size: 36px;
	}
	.section2-main h4 {
		font-size: 19px;
		margin-bottom: 10px;
	}
	.section3-header {
		width: 530px;
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -265px;
	}
	.section3-header h1 {
		font-size: 35px;
	}
	.section3-circle {
		margin: 15px;
	}
	.page-title {
		font-size: 38px;
		margin-top: 60px;
		line-height: 30px;
	}
	.solutions-pages .container {
		padding: 15px 30px;
	}
	.about-us .person {
		width: 120px;
		height: 120px;
		margin: 5px;
	}
	.person .person_info {
		font-size: 17px;
		padding-top: 10px;
		line-height: 20px;
	}
	.about-content, #jobs {
		padding: 0 30px;
		width: auto;
	}
	.contact-page .top {
		padding-top: 40px;
	}
	.contact-page .bottom .span3 {
		float: left;
		margin: 0;
		width: 30%;
		padding: 10px;
	}
	.contact-page .bottom .span1 {
		display: none;
	}
	.contact-page {
		background: url('imgs/map.jpg') 1020px 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
	html, body {
		margin: 0;
		padding: 0;
	}
	.nova {
		margin-top: 50px;
	}
	.container {
		padding: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		position: fixed;
		margin-top: 0;
	}
	.navbar-fixed-top .navbar-inner {
		padding: 0 10px;
		margin: 0;
	}
	.navbar-inner .container {
		padding: 0 10px;
		margin: 0;
	}
	.section {
		overflow: hidden;
		min-height: 650px;
	}
	.blue-overlay, .small-stars {
		min-height: 650px;
	}
	.section1-constelation img {
		max-width: 50%;
	}
	.section1-footer h2 {
		font-size: 24px;
		line-height: 26px;
	}
	.section1-footer p {
		font-size: 16px;
	}
	.section-nav {
		display: none;
	}
	.section-background {
		height: 100%;
	}
	.section3-slide-mobile h1 {
		font-size: 36px;
		margin: 0;
		padding: 0;
	}
	.section3-slide-mobile p {
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 16px;
		border: 0;
		text-shadow: 0 0 10px #000;
	}
	.section3-circle-holder {
		margin-top: 180px;
	}
	.page-title {
		font-size: 34px;
		margin-top: 100px;
	}
	.solutions-pages .container {
		padding: 0 20px;
	}
	.solution-circle-holder {
		margin-top: 0;
	}
	.about-us h1 {
		margin-top: 30px;
	}
	.about-content {
		padding: 0 20px;
		width: auto;
	}
	.about-us .person-row {
		text-align: center;
		width: auto;
		margin-bottom: 30px;
	}
	.about-us .span3:nth-child(even) {
		margin-left: 30px;
	}
	.contact-page .top {
		padding: 20px 0;
		height: auto;
	}
	.contact-page .top h2 {
		padding: 0;
		margin: 0;
		line-height: 32px;
		font-size: 28px;
	}
	.contact-page .top h5 {
		padding: 0;
		margin: 0;
		font-size: 18px;
	}
	.contact-page {
		background: url('imgs/map.jpg') -845px -20px;
		min-height: 400px;
	}
	.contact-circle {
		top: 100px;
		left: 110px;
	}
	.contact-page .web-content, .contact-page .span1 {
		display: none;
	}
	.contact-page .span3 {
		float: left;
		padding: 10px;
		width: 50%;
	}
	.contact-page .bottom {
		height: 30px;
	}
	.contact-page .bottom ul {
		font-size: 12px;;
	}
	.phone-right {
		float: right !important;
	}
	.about-us .person {
		width: 120px;
		height: 120px;
		margin: 5px;
	}
	.person .person_info {
		font-size: 17px;
		padding-top: 10px;
		line-height: 20px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	html, body {
		margin: 0;
		padding: 0 0 0 0;
	}
	.solutions-pages h2 span {
		display: block;
		clear: both;
		margin: 8px 0 0 0;
		line-height: 28px;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		position: fixed;
	}
	.navbar-fixed-top .navbar-inner {
		padding: 0 10px;
		margin: 0;
	}
	.navbar-inner .container {
		padding: 0 10px;
		margin: 0;
	}
	.section, .small-stars {
		overflow: hidden;
		min-height: 440px;
	}
	.blue-overlay {
		min-height: 440px;
	}
	.section1-constelation img {
		max-width: 60%;
	}
	.section1-footer h2 {
		font-size: 24px;
		line-height: 26px;
	}
	.section1-footer p {
		font-size: 16px;
	}
	.section-nav {
		display: none;
	}
	.section2 h1 {
		font-size: 26px;
		line-height: 28px;
	}
	.section2 h4 {
		margin: 0;
		font-size: 18px;
	}
	.section2 .circle {
		height: 250px;
		width: 250px;
		margin-top: 24px;
	}
	.section-background {
		height: 100%;
	}
	.section2-main {
		margin-top: 0;
	}
	.image-360 {
		width: 90%;
		margin-top: 40px !important;
	}
	.expert-guidance-plus {
		margin: -23px 0 0 -18px;
	}
	.member-engagement-plus {
		margin: 180px 0 0 -127px;
	}
	.in-real-time-plus {
		margin: 199px 0 0 74px;
	}
	.step-img {
		width: 95%;
		top: 7px;
		left: 6px;
	}
	.section2 .pop {
		width: 100px;
		white-space: normal;
	}
	.section3-slide-mobile {
		display: block;
		width: auto !important;
		padding: 20px;
		top: 0;
		left: 0;
		margin: 0;
	}
	.section3-slide {
		display: none;
	}
	.section3-slide-mobile h1 {
		font-size: 36px;
		margin: 0;
		padding: 0;
	}
	.section3-slide-mobile p {
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 16px;
		border: 0;
		text-shadow: 0 0 10px #000;
	}
	.section3-circle {
		margin: 0;
		height: 70px;
		width: 70px;
	}
	.section3-circle .circle-title {
		font-size: 9px;
		margin-top: 20px;
		line-height: 12px;
	}
	.section3-circle .circle-detail {
		font-size: 9px;
		margin-top: 0;
		line-height: 12px;
	}
	.section3-circle .plus-link {
		top: 60px;
		left: 16px;
	}
	.section3-circle-holder {
		margin-top: 180px;
	}
	.list-holder {
		top: 292px;
		left: 5px;
	}
	.list-holder li {
		font-size: 12px;
		line-height: 15px;
	}
	.footer a .plus-link {
		display: none;
	}
	.page-title {
		font-size: 34px;
		margin-top: 10px;
	}
	.solutions-pages .container {
		padding: 0 20px;
	}
	.solution-circle-holder {
		margin-top: 0;
	}
	.about-content {
		padding: 0 20px;
		width: auto;
	}
	.about-us h1 {
		font-size: 26px;
		padding: 40px 0;
	}
	.about-us .person-row {
		text-align: center;
		width: 264px !important;
		margin: auto;
	}
	.about-us .span3:nth-child(even) {
		margin-left: 30px;
	}
	.contact-page .top {
		padding: 20px 0;
		height: auto;
	}
	.contact-page .top h2 {
		padding: 0;
		margin: 0;
		line-height: 32px;
		font-size: 28px;
	}
	.contact-page .top h5 {
		padding: 0;
		margin: 0;
		font-size: 18px;
	}
	.contact-page {
		background: url('imgs/map.jpg') -845px -20px;
		min-height: 500px;
	}
	.contact-circle {
		top: -10px;
		left: 110px;
	}
	.contact-page .web-content, .contact-page .span1 {
		display: none;
	}
	.contact-page .span3 {
		float: left;
		padding: 10px;
		width: 50%;
	}
	.contact-page .bottom {
		height: 160px;
	}
	.contact-page .bottom ul {
		font-size: 12px;
	}
	.phone-right {
		float: right !important;
	}
	.about-us .person {
		width: 120px;
		height: 120px;
		margin: 5px;
	}
	.person .person_info {
		font-size: 17px;
		padding-top: 10px;
		line-height: 20px;
	}
	.about-us .person {
		width: 120px;
		height: 120px;
		margin: 5px;
	}
	.person .person_info {
		font-size: 17px;
		padding-top: 10px;
		line-height: 20px;
	}
	.section1-constelation {
		display: none;
	}
	.section1-logo {
		margin-top: 10px;
		margin-bottom: 55px;
	}
}