/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		paddin g: 0;
		margin: 0;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		position: fixed;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}