@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 7, ../sass/about_us.scss */
body.page-template-page-contact-php .contact-page {
  font-weight: bold;
  border-bottom: 2px solid white;
}

/* line 14, ../sass/about_us.scss */
#map {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-image: url("imgs/map2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right top;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
/* line 26, ../sass/about_us.scss */
#map .intro {
  width: 100%;
  height: 170px;
}
/* line 29, ../sass/about_us.scss */
#map .intro .intro-wrapper {
  width: 50%;
  float: left;
  background: rgba(255, 255, 255, 0.7);
  color: #20498d;
  margin: 40px 0px 10px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../sass/about_us.scss */
#map .intro .intro-wrapper .contain {
  width: 450px;
  float: right;
  padding: 20px 0px 10px 10px;
}
/* line 43, ../sass/about_us.scss */
#map .intro .intro-wrapper .contain h2 {
  font-weight: 300;
  font-size: 56px;
  padding-top: 20px;
  display: block;
  letter-spacing: 2px;
  float: left;
  padding-bottom: 0;
}
/* line 52, ../sass/about_us.scss */
#map .intro .intro-wrapper .contain h4 {
  padding: 0 0 20px 0;
  display: block;
  line-height: 26px;
  float: left;
  font-weight: 500;
  font-size: 18px;
}
/* line 65, ../sass/about_us.scss */
#map .wrapper {
  width: 100%;
}
/* line 67, ../sass/about_us.scss */
#map .wrapper .wrapper-inner {
  width: 200px;
  margin: 0 auto;
}
/* line 70, ../sass/about_us.scss */
#map .wrapper .wrapper-inner .req {
  z-index: 2000;
  position: relative;
  display: block;
  float: left;
  color: white;
  background: #20498d;
  border: 10px solid #769fda;
  width: 175px;
  height: 175px;
  -webkit-border-radius: 800px;
  -moz-border-radius: 800px;
  -ms-border-radius: 800px;
  -o-border-radius: 800px;
  border-radius: 800px;
  -webkit-box-shadow: 1px -1px 11px black;
  -moz-box-shadow: 1px -1px 11px black;
  box-shadow: 1px -1px 11px black;
  behavior: url(/PIE.htc);
}
/* line 85, ../sass/about_us.scss */
#map .wrapper .wrapper-inner .req:hover {
  text-decoration: none;
}
/* line 88, ../sass/about_us.scss */
#map .wrapper .wrapper-inner .req h3 {
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  margin: 41px 0 15px 0;
}
/* line 95, ../sass/about_us.scss */
#map .wrapper .wrapper-inner .req .plink {
  position: relative;
  margin: 0 auto;
}
/* line 98, ../sass/about_us.scss */
#map .wrapper .wrapper-inner .req .plink span {
  left: 5px;
}
/* line 106, ../sass/about_us.scss */
#map .extro {
  position: fixed;
  bottom: 0;
  color: #20498d;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
}
/* line 113, ../sass/about_us.scss */
#map .extro .map-footer {
  width: 960px;
  margin: 0 auto;
  list-style: none;
  overflow: auto;
  padding: 5px 30px;
}
/* line 119, ../sass/about_us.scss */
#map .extro .map-footer a {
  color: #f38018;
}
/* line 122, ../sass/about_us.scss */
#map .extro .map-footer li {
  display: block;
  margin: 5px 20px 15px 0px;
  float: left;
  width: 30%;
  overflow: hidden;
  *zoom: 1;
}
/* line 130, ../sass/about_us.scss */
#map .extro .map-footer li address {
  margin-bottom: 0px;
}
/* line 133, ../sass/about_us.scss */
#map .extro .map-footer li a i {
  color: #f38018;
  text-shadow: 1px 0px 7px rgba(0, 0, 0, 0.6);
  font-size: 34px;
}
/* line 137, ../sass/about_us.scss */
#map .extro .map-footer li a i:hover {
  text-decoration: none;
}
/* line 142, ../sass/about_us.scss */
#map .extro .map-footer li hr {
  height: 1px;
  border: none;
  background: #20498d;
}
/* line 148, ../sass/about_us.scss */
#map .extro .map-footer li ul.page-links {
  margin: 0;
}
/* line 150, ../sass/about_us.scss */
#map .extro .map-footer li ul.page-links a {
  color: #20498d;
  font-weight: bold;
}
/* line 156, ../sass/about_us.scss */
#map .extro .map-footer li ul.website-links {
  margin: 0;
}
/* line 158, ../sass/about_us.scss */
#map .extro .map-footer li ul.website-links li {
  margin: 0;
  width: 100%;
}
/* line 162, ../sass/about_us.scss */
#map .extro .map-footer li ul.website-links a {
  color: #20498d;
}
