@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 4, ../sass/case_studies.scss */
#section4 {
  z-index: 1000;
  height: 6600px;
  overflow: hidden;
}
/* line 10, ../sass/case_studies.scss */
#section4 .sky {
  height: 1680px;
  width: 100%;
  position: fixed;
  background: url("imgs/section4_s.jpg");
  background-size: cover;
}
/* line 17, ../sass/case_studies.scss */
#section4 .sky .city {
  height: 1680px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background: url("imgs/section4_b.png");
  background-size: 100% 100%;
}
/* line 26, ../sass/case_studies.scss */
#section4 .sky h1, #section4 .sky h4 {
  font-family: 'Open Sans', sans-serif;
}
/* line 30, ../sass/case_studies.scss */
#section4 .sky h1 {
  font-weight: 300;
}
/* line 33, ../sass/case_studies.scss */
#section4 .sky h4 {
  font-weight: 700;
  line-height: 40px;
}
/* line 38, ../sass/case_studies.scss */
#section4 .sky .sec4-intro {
  text-align: center;
  color: white;
  margin-top: 65px;
}
/* line 43, ../sass/case_studies.scss */
#section4 .sky .sec4-intro .sec4-header {
  width: 960px;
  margin: 0 auto;
}
/* line 47, ../sass/case_studies.scss */
#section4 .sky .sec4-intro .sec4-header h1, #section4 .sky .sec4-intro .sec4-header h4 {
  float: left;
  text-shadow: 1px 0px 13px black;
}
/* line 52, ../sass/case_studies.scss */
#section4 .sky .sec4-intro .sec4-header h1 {
  font-size: 72px;
  line-height: 90px;
}
/* line 56, ../sass/case_studies.scss */
#section4 .sky .sec4-intro .sec4-header .vertical_line {
  margin: 10px 16px 0 16px;
  border-left: 2px solid white;
  height: 100px;
  float: left;
}
/* line 62, ../sass/case_studies.scss */
#section4 .sky .sec4-intro .sec4-header h4 {
  font-size: 24px;
  line-height: 110px;
  padding-top: 5px;
}

/* line 72, ../sass/case_studies.scss */
.case_studies_container {
  z-index: 1000;
  height: 35%;
  overflow: hidden;
  padding-top: 20px;
  /*bubble list */
}
/* line 79, ../sass/case_studies.scss */
.case_studies_container .expanded .bubble_list {
  margin-bottom: 300px;
}
/* line 83, ../sass/case_studies.scss */
.case_studies_container .bubble_list {
  min-height: 101px;
  margin: 0 auto;
}
/* line 87, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul {
  min-height: 60px;
  width: 100%;
}
/* line 91, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li {
  text-align: center;
  float: left;
  color: white;
  margin: 0 16px 6px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  display: inline;
  position: relative;
}
/* line 102, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li p {
  position: relative;
}
/* line 108, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul .bubble {
  position: relative;
  background: #20498d;
  border-radius: 50%;
  behavior: url(/PIE.htc);
  z-index: 1004;
  text-align: center;
}
/* line 117, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.small_size {
  /*line-height: 20px;*/
}
/* line 119, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.small_size .bubble {
  height: 60px;
  width: 60px;
  border: 2px solid #769fda;
}
/* line 123, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.small_size .bubble p {
  font-size: 0px;
}
/* line 130, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.peek_size p {
  margin-top: 25px;
  font-size: 9px !important;
}
/* line 137, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.medium_size .bubble {
  height: 90px;
  width: 90px;
  border: 4px solid #769fda;
}
/* line 141, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.medium_size .bubble p {
  margin-top: 15px;
  font-size: 12px;
  line-height: 65px;
}
/* line 150, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.full_size .bubble {
  height: 120px;
  width: 120px;
  font-size: 16px;
  line-height: 20px;
  border: 8px solid #769fda;
}
/* line 156, ../sass/case_studies.scss */
.case_studies_container .bubble_list ul li.full_size .bubble p {
  line-height: 125px;
}
/* line 163, ../sass/case_studies.scss */
.case_studies_container .bubble_list .plink_container {
  z-index: 1006;
  position: absolute;
  /*@include transition();*/
  transition: width 1s, height 1s, font-size .5s, margin 1s, line-height 1s;
  -webkit-transition: width 1s, height 1s, font-size .5s, margin 1s, line-height 1s;
  /* Safari */
}
/* line 171, ../sass/case_studies.scss */
.case_studies_container .bubble_list .small_size {
  font-size: 0px;
}
/* line 173, ../sass/case_studies.scss */
.case_studies_container .bubble_list .small_size .plink_container {
  margin-top: 2px;
  margin-left: 38px;
}
/* line 179, ../sass/case_studies.scss */
.case_studies_container .bubble_list .medium_size {
  height: 86px;
  width: 86px;
  margin: 0px 10px 0px 10px;
  font-size: 10px;
}
/* line 185, ../sass/case_studies.scss */
.case_studies_container .bubble_list .medium_size .plink_container {
  margin-top: -4px;
  margin-left: 56px;
}
/* line 188, ../sass/case_studies.scss */
.case_studies_container .bubble_list .medium_size .plink_container .plink {
  background: #89a9cc;
}
/* line 195, ../sass/case_studies.scss */
.case_studies_container .bubble_list .medium_size a.plink, .case_studies_container .bubble_list .small_size a.plink {
  height: 20px;
  width: 20px;
  border: 3px solid white;
}
/* line 200, ../sass/case_studies.scss */
.case_studies_container .bubble_list .medium_size .plink_container a.plink span, .case_studies_container .bubble_list .small_size .plink_container a.plink span {
  top: -6px;
  right: 0px;
  font-size: 22px;
}
/* line 208, ../sass/case_studies.scss */
.case_studies_container .bubble_list .full_size .plink_container {
  margin-top: -15px;
  margin-left: 40px;
}
/* line 217, ../sass/case_studies.scss */
.case_studies_container .case_studies_text {
  position: relative;
  overflow-y: scroll;
  display: none;
  background-color: white;
  font-family: "ProximaNovaA-Regular", sans-serif;
  height: 100%;
  margin-left: 0px;
  color: #20498d;
}
/* line 218, ../sass/case_studies.scss */
.case_studies_container .case_studies_text .case_study {
  display: block;
}
/* line 234, ../sass/case_studies.scss */
.case_studies_container .case_study {
  overflow: visible;
}
/* line 238, ../sass/case_studies.scss */
.case_studies_container .expanded .case_studies_text {
  padding-top: 20px;
}
/* line 244, ../sass/case_studies.scss */
.case_studies_container .case_studies_text .clink {
  position: absolute;
  right: 20px;
  top: 10px;
  margin-top: 5px;
  z-index: 10005;
}
/* line 250, ../sass/case_studies.scss */
.case_studies_container .case_studies_text .clink span {
  top: 3px;
}
/* line 257, ../sass/case_studies.scss */
.case_studies_container div.case_study {
  display: none;
  position: relative;
  padding: 20px;
  background: url("imgs/constellation2.png") no-repeat;
  background-position: right;
}
/* line 266, ../sass/case_studies.scss */
.case_studies_container .case_study h1 {
  width: 24%;
  text-align: right;
  padding: 0px 20px 0 0;
  font-size: 38px;
  font-weight: 100;
  color: black;
  font-family: "Open Sans", sans-serif;
  float: left;
  height: 50%;
}
/* line 279, ../sass/case_studies.scss */
.case_studies_container .case_study div.col2 {
  width: 60%;
  float: left;
  padding-bottom: 180px;
}

/* overrides */
/* line 289, ../sass/case_studies.scss */
#section4 .bubble_list {
  width: 950px;
}
/* line 293, ../sass/case_studies.scss */
#section4 .expanded .bubble_list {
  width: 845px;
}
/* line 295, ../sass/case_studies.scss */
#section4 .expanded .bubble_list .first-second-case {
  margin-left: 100px;
}
